@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

* {
    box-sizing: border-box;
}

.lista-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 0;
    list-style: none;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 410px;
    width: 200px;
    background-color: #F6F3EF;
    padding: 0;
    border-radius: 5px;
    box-shadow: #0000003f 0 3px 7px 2px;
    margin: 20px 10px;
    transition: 0.3s;
}

.cards:hover {
    box-shadow: #00000062 0 2px 4px 2px;
}

.cards .caixa-imagem {
    display: block;
    justify-content: center;
    height: 200px;
}

.caixa-imagem .imagem-produto::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.card-1::before {
    background-image: url("../images-cards/chas-schumacher-glamour.jpg");
}

.corpo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 250px;
}

.corpo-card .descricao {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: Baskervville;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.cards .pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-card .preco {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.corpo-card .preco-de {
    font-size: 20px;
    text-decoration: line-through;
    color: #BC4C2A82;
}

.corpo-card .preco-por {
    font-size: 24px;
    color: #BC4C2A;
}

.btn-comprar {
    font-family: Baskervville;
    text-align: center;
    background-color: #BC4C2A;
    padding: 10px;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-comprar:hover {
    color: #fff;
    background-color: #3f79cf;
    box-shadow: #00000062 0 2px 4px 2px;
}

