.container-fluid{
    background-color: #F6F3EF;
}

.titulo {
    color: #BC4C2A;
    font-size: 35px;
    font-family: 'Baskervville', serif;
    align-self: flex-end;
    margin: 0;
    
}

.logo {
    height: 60px;
    width: auto;
    margin: 10px 0 0 10px;
}

.antiquario {
    font-family: 'Baskervville', serif;
    font-size: 18px;
}
.login {
    font-family: 'Baskervville', serif; 
    font-size: 18px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login a {
    color: black;
    text-decoration: none;
    padding: 5px;
}
.sacola {
    height: 30px;
    width: auto;
}

.button-sacola{
    align-self: flex-end;
    padding: 5px;
}

.pesquisa {
    width: 100%;
    height: 35px;
    margin: 0;
    border: none;
    border-bottom: #BC4C2A solid 2px;
    margin-top: 30px;
    padding: 10px;
}

.button-submit {
    display: flex;
    border: none;
    background-color: white;
    width: 100%;
    height: 35px;
    margin: 0;
    border-bottom: #BC4C2A solid 2px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.pesquisa-btn {
    padding: 0;
}

.lupa {
    height: 17px;
    width: auto;
}

.hamburguer {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}
.menu-hamburguer {
    height: 30px;
    width: auto;
    align-self: flex-end;
    display: flex;
    margin-left: 10px;
}

#menu ul {
    background-color:#F6F3EF;
    list-style:none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#menu ul li { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

#menu ul li a {
    display: flex;
    flex-direction: row;
    background-color:#F6F3EF;
    color: black;
    text-decoration: none;
    border-bottom:2px solid #F6F3EF;
    font-family: 'Baskervville', serif;
    font-size: 20px;
    width: 100px;
    padding: 10px 100px;
    justify-content: center;
}

#menu ul li a:hover {
    border-bottom:2px solid #BC4C2A;
}

.pesquisa:focus {
    outline: none;
}

@media (max-width:800px) {
    #menu ul li a {
        padding: 10px 80px;
    }
}

@media (max-width:645px) {
    #menu ul li a {
        padding: 10px 60px;
    }
}

@media (max-width:576px) {
    .pesquisa {
        margin-bottom: 15px;
    }
    .titulo {
        justify-content: center;
        display: flex;
    }
}


